@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: white;
    width: 100%;
    
}
.scroll-section {
    opacity: 0;
    transform: translateY(20px); /* Efecto de movimiento desde abajo */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transición para opacidad y posición */
}

.scroll-section.visible {
    opacity: 1; /* Cambia a visible */
    transform: translateY(0); /* Restablece la posición */
}
